# Unity folders to ignore
[Libraries and cache]
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/

# VS/IDE junk
.vscode/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.unityproj
*.tmp

# OS junk
.DS_Store
Thumbs.db
